div{
    /* display: inline; */
    display: inline-block;
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
}

div:nth-of-type(2){
    /* display: none; */
    visibility: hidden;
}
span{
    /* display: block; */
    display: inline-block;
    width: 100px;
    height: 100px;
}