.ab{
    width: 150px;
    height: 150px;
    background-color: #8CBA80;
}

.bc{
    width: 150px;
    height: 150px;
    background-color: rgb(40, 200,100);
}

.cd{
    width: 150px;
    height: 150px;
    background-color: rgba(204, 21, 21,0.4);
}